//*-*-*-*-*-*-*-*-*-*-- The 1300px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-desktop {
  @media screen and (min-width: break-point(break-point-desktop)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 600px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 400px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}
// *-*-*-*-*-*--*-*-*-*-*-*-*-*---------------------------------*-*-*-*-*-*-*--*-*-*--*-*-*-*-*-*-*-*

::selection {
  background-color: var(--color-primary);
}

@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.header";
@import "5.showcase";
@import "6.motto";
@import "7.feature";
@import "8.trainers";
@import "9.testimonials";
@import "10.clients";
@import "11.register";
@import "12.footer";

// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*- Placeholder Styles *-*-*-*-*-*-*-*-*-*-*-*-*
// Background Properties
%bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Section Padding
%sec-padding {
  padding: 2vh 4vw;
}

// Styles for Section headings (h2)
%sec-heading {
  font-size: font-size(font-size-medium);
  font-weight: font-weight(font-weight-light);
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
  transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
  text-align: center;
  cursor: pointer;
}

// Styles for Section paragraphs (p)
%sec-para {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
// Styles for Section paragraphs (li)
%sec-list {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 0.1rem;
    li {
      text-transform: uppercase;
      border-left: 8px solid #4CAF50;
      margin: 15px 0;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
    }
    li::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #4CAF50;
    }
    li:hover {
      transform: scale(1.02);
      transition: 0.3s ease-in-out;
    }
    li:hover::before {
      height: 100%;
      background-color: rgba(76, 175, 80, 0.2);
      transition: height 0.4s ease-in-out;
    }
}

//Styles for Section h3
%sec-h3 {
  font-size: font-size(font-size-small);
  color: var(--color-quinary);
}

//Styles for Section h4
%sec-h4 {
  color: var(--color-quinary);
}

//************************** Scroll to top button *******************
.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url("../img/scroll/scroll.svg");
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

//*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements -*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}

h1,h2,h3 {
  position: relative;
  transition: color 0.4s ease, letter-spacing 0.4s ease, transform 0.4s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1::before, h1::after,h2::before, h2::after ,h2::before, h2::after  {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
  transition: width 0.4s ease;
}

h1::after,h2::after,h3::after {
  top: auto;
  bottom: 0;
}

h1:hover,h2:hover,h3:hover {
  letter-spacing: 5px;
  transform: translateY(-5px);
}

h1:hover::before, h1:hover::after {
  width: 0;
}